.footer {
    padding: 104px 0 144px;
    background-color: #245852;
    color: white;
    margin-top: 100px;
}


.footer-logo + * {
    margin-top: 74px;
}

.footer-nav {
    font-size: 25px;
    font-weight: 600;
}

.footer-nav li + li {
margin-top: 60px;
}

.footer-nav a {
    transition: opacity 0.2s ease-in;
}

.footer-nav a:hover {
    opacity: 0.8;
}

@media (max-width: 1140px) {
     .footer {
        padding: 80px 0 104px;
    }

    .footer-nav {
        font-size: 20px;
        font-weight: 600;
    }

    .footer-logo + * {
        margin-top: 55px;
    }

    .footer-nav li + li {
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    .footer {
        padding: 60px 0 64px;
    }

    .footer-nav {
        font-size: 17px;
        font-weight: 600;
    }

    .footer-logo + * {
        margin-top: 45px;
    }

    .footer-nav li + li {
        margin-top: 25px;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 50px 0 44px;
    }

    .footer-nav {
        font-size: 13px;
        font-weight: 600;
    }

    .footer-logo + * {
        margin-top: 40px;
    }

    .footer-nav li + li {
        margin-top: 20px;
    }
}