.product {
    padding-top: 120px;
    padding-bottom: 168px;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-img-wrapper {
    position: relative;
    margin-right: 86px;
    padding-left: 60px;
    padding-bottom: 74px;
}

.product-card {
    position: absolute;
    left: 0;
    bottom: 0;
}

.product-content {
    max-width: 584px;
}

.product-content-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.product-content-title + * {
    margin-top: 10px;
}

.product-content-subtitle {
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
}

.product-content-subtitle + * {
    margin-top: 20px;
}

.product-content-text {
    max-width: 530px;
    font-weight: 400;
    font-size: 20px;
    line-height: 144.5%;
    color: #484848;
}

.product-content-text + * {
    margin-top: 40px;
}

.product-content-button {
    display: flex;
}

@media (max-width: 1299px) {
    .product {
        padding-top: 80px;
    }

    .product-img-wrapper {
       flex: 1 0 auto;
       flex-basis: 50%;
    }

    .product-card {
        top: 60%;
    }

    .product-content-subtitle {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.3;
    }
}

@media (max-width: 991px) {
    .product {
        padding-top: 40px;
    }

    .product-row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .product-content-text + * {
        margin-top: 20px;
    }

    .product-content-button {
        margin-bottom: 20px;
    }

    .product-img-wrapper {
        padding: 0;
        margin: 0;
    }

    .product-card {
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 738px) {
    .product-content-subtitle {
        font-size: 30px;
}

.product-content-text {
    font-size: 18px;
    line-height: 1.3;
}
}

@media (max-width: 500px) {

}